.app-head {
  font-size: 2.75rem;
  font-weight: bold;
  font-family: "Eczar", serif;
}

.app-p {
  font-family: "Mulish", sans-serif;
}

.app-head-background {
  background-image: url("../../assets/website_cover_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
